/* #1ebad6 */
@border-radius-base: 4px;

/* Reset body padding and margins */
html { position:relative; min-height:100% }
body { margin:0; width:100%; background:#33342d; font-family:helvetica,arial,sans-serif;}

/* Title */
header h1 { background-color:#73a53e; margin:0 0 15px 0; padding:10px 0 10px 0; font-size:40px; font-weight:bold; color:#46483e; border-color:#73a53e;  border-bottom-style:solid; border-width:1px;}

div.entry { margin:15px; padding:10px; font-size:15px; border-color:#73a53e; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border-style:solid; border-width:1px;background-color:#46483e; color:#d2d8ba;}
div.entry div.image { padding-left:0px;}
div.entry div.name { padding-top:10px;}
div.entry div.num-channel { padding-top:10px;}
.strong { font-weight:bold;}
div.entry.create {margin:15px; padding:10px; font-size:15px; border-color:#73a53e; background-color:#73a53e; -webkit-border-radius: 5px; -moz-border-radius: 5px;
border-radius: 5px; border-style:solid; border-width:1px; color:#d2d8ba; }
div.entry div.create  { text-size:30px;}
div.message-block{ background-color:#ffffff; width:70%; height:80%; border-radius:5px; border-sytle:solid;}